/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.panda-bg-info{
    background-color: #fceae8;
}

.categories-bg-orange{
    background-color: orange;
}

.categories-bg-orchid{
    background-color: orchid;
}

.categories-bg-blue{
    background-color: blue;
}

.categories img{
    width: 100px;
}

.button-color{
    background-image: linear-gradient(#FF589B, #FF136F);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}